services:
  backend:
    build:
      context: ./backend
      target: production
      dockerfile: Dockerfile
    container_name: kamui-backend
    ports:
      - "3000:3000"
    environment:
      - NODE_ENV=development
      - PORT=3000
      - DB_HOST=${DB_HOST}
      - DB_USER=${DB_USER}
      - DB_PASSWORD=${DB_PASSWORD}
      - DB_NAME=${DB_NAME}
      - DB_PORT=${DB_PORT}
    depends_on:
      mariadb:
        condition: service_started
    networks:
      - app-network
    # Volumes สำหรับ Hot Reload ในช่วง Dev (ลบออกได้ถ้าใช้ Prod)
    volumes:
      - ./backend/:/app
      - /app/node_modules
    command: npm run dev

  frontend:
    build:
      context: ./client
      dockerfile: Dockerfile
    container_name: dcim-frontend
    ports:
      - "5173:5173" 
    volumes:
      - ./client:/app
      - /app/node_modules 
    environment:
      - CHOKIDAR_USEPOLLING=true
#    depends_on:
#      - backend # ให้ backend รันก่อน (Optional)
    networks:
      - app-network

  mariadb:
    image: mariadb:10.11
    restart: unless-stopped
    environment:
      - MARIADB_ROOT_PASSWORD=root_secret_password
      - MARIADB_DATABASE=kamui
      - MARIADB_USER=kamui_user
      - MARIADB_PASSWORD=kamui_password
    ports:
      - "3306:3306"
    volumes:
      - mariadb_data:/var/lib/mysql
    networks:
      - app-network

networks:
  app-network:
    driver: bridge

volumes:
  mariadb_data:
